<nav class="flex gap-2 px-4 py-2 bg-theme-300">
    <a href="/" class="no-underline text-shark-950">LickABrick.github.io</a>
    <div class="ml-auto">
        <a href="/" class="no-underline text-shark-950">Posts</a>
        <span>|</span>
        <a href="/notes" class="no-underline text-shark-950">Notes</a>
    </div>
</nav>